body {
    padding-top: 70px;
    padding: 1em 2em;
    background: linear-gradient(83.21deg,#3245ff 0%,#bc52ee 100%);
    color: white;
    height: 100vh;
    margin: 0
}

.flex-container {
    display: flex;
}

.flex-item {
    padding: 10px;
    white-space: nowrap;
}

.contents-button {
    background-color: rgba(29, 32, 35, 1);
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    width: min-content;
    .a {
        text-decoration: none;
    }
}

.contents-route {
    padding-top: 14px;
}

.header-title {
    color: white;
    text-decoration: none;
}

.truncate-list-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50vw;
}

footer {
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    bottom: 0;
    width: 100%;
}

.social-links a {
    color: #fff;
    font-size: 1.5rem;
    margin-left: 10px;
    text-decoration: none;
    a:hover {
        color: #0077cc;
    }
}